body {
    background-color: darkblue;
    margin: 100px;
}

p {

    text-align: left;


}

h1 {
    color: red;
    text-align: center
}

.pink {
    color: pink;
}

.lightblue {
    color: lightblue;
}

.lightgreen {
    color: lightgreen;
}