body {

}

p {

    text-align: left;


}

h1 {
    color: black;
    font-size:50
    margin: "200px"
}

h2 {
    color: black
    text-align: center
}

.pink {
    color: pink;
}

.lightblue {
    color: lightblue;
}

.lightgreen {
    color: lightgreen;
}