{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>
        History
    </h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in index %}
                <tr>
                    <td>{{ transaction.stock }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>





{% endblock %}
.schema