{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>
        Index
    </h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Price</tr>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
                <tr>
                    <td>{{ stocks }}</td>
                    <td>{{ person.day }} / {{ person.month }}</td>
                    <td>third</td>
                    <td>last</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
.schema