{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>
        Index
    </h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Price</tr>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock }}</td>
                    <td>second</td>
                    <td>third</td>
                    <td>forth</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
.schema