{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>
        Current Price
    </h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
                <th>Delete</tr>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.day }} / {{ person.month }}</td>
                    <td><input type="submit" name="delete" value="{{person.id}}"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
.schema