{% extends "layout.html" %}

{% block title %}
    Summaries
{% endblock %}

{% block main %}
<div class="container-sm">
    <h1>
        Summaries
    </h1>
    <br>
    <h3>
        Select diagnoses groups
    </h3>

</div>
<br>
<div>
    <div>
        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
        <label class="btn btn-secondary" for="option1">Jaundice</label>
    </div>
    <br>
    <div>
        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
        <label class="btn btn-secondary" for="option2">Infection</label>
    </div>
    <br>
    <div>
        <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" >
        <label class="btn btn-secondary" for="option3">Weight Loss</label>
    </div>
    <br>
    <div>
        <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
        <label class="btn btn-secondary" for="option4">Feeding problems</label>
    </div>
</div>






{% endblock %}
.schema