{% extends "layout.html" %}

{% block title %}
    Summaries
{% endblock %}

{% block main %}
<div class="container-sm">
    <h1>
        Summaries
    </h1>
    <br>
    <h3>
        Select diagnoses groups
    </h3>

</div>
<br>
<div>
    {% for disease in diagnoses %}
    <div>
        <input type="checkbox" class="btn-check" id="{{ disease }}" autocomplete="off">
        <label class="btn btn-outline-primary" for="{{ disease }}">{{ disease }}</label><br>
    <br>
    {% endfor %}

</div>






{% endblock %}
.schema