{% extends "layout.html" %}

{% block title %}
    Summaries
{% endblock %}

{% block main %}
<div class="container-sm">
    <h1>
        Summaries
    </h1>
    <br>
    <h3>
        Select diagnoses groups
    </h3>

</div>
<br>
<div>
    {% for disease in diagnoses %}
    <div>
        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
        <label class="btn btn-secondary" for="option1">{{ disease }}</label>
    </div>
    <br>
    {% endfor %}

</div>






{% endblock %}
.schema